

<div class="listbox">
  <div class="sticker"></div>
  <h1>To Do My List</h1>
  <h3><%= Time.now.strftime("%Y/%m/%d %H:%M") %></h3>
  <div class="underbar"></div>

  <div class="addbtn">
    <%# 新增 LIST 按鈕 >> 指向 new_list %>
    <%= link_to '＋ LIST', new_list_path, class: 'btn btn-success' %>
  </div>

  <div class="list">
    <ul>
      <%# 用 each 逐一讀取list %>
      <% @lists.each do |list| %>
        <li>
          <p class="due_date">Dateline : <%= list.duedate %></p>
          <p class="title"><%= link_to list.title, list_path(list) %></p>

          <div class="actions">
            <%# 把編輯與刪除按鍵搬到 lists_helper.rb >> 用 helper 的方式來做按鈕的 render 並且 可把 list 物件，當成參數傳入 helper %>
            <%= list_edit_button(list) %>
            <%= list_delete_button(list) %>
          </div>
        </li>
        <li class="itembar"></li>
      <% end %>
    </ul>
  </div>
</div>

<%# %>